.Displaypage{
    background-color: lightblue;
    height: fit-content;
    text-align: center;
    border: 0.5px solid indigo;
   
  }
  .page-container {
    border: 0.5px solid indigo;
    border-radius: 20px;
    margin: auto;
    background-color:white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;


  }
  
  .middle-content{
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: #bfbfbf;
    height: 50px;
    border-radius: 20px;
    border: 0.3px solid rgb(187, 184, 190);
    font-size: 20px;
    
    
    
  }
  .content{
    display:flex;
    
    align-items: center;
    padding-left: 30px;
    
    
  }
  .line{
    width:400px
  }
  .field{
    display: flex;
    margin-left: 20px;
  }
  
  .image{
    width: 35px; 
    height: 35px;
    justify-content: center;
    border-radius: 50%;
    display: flext;
    
    
  
  }
  .data{
  
    margin-right: 400px;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
  }